body {
    background-color: #131F24;
    color: white;
}

.change-email {
    height: 80vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.change-email h1 {
    font-size: 70px;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

.change-email input {
    font-size: 30px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: 3px solid #37464F;
    border-bottom: 7px solid #37464F;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: center;
    transition: all linear 0.2s;
    font-weight: 800;
}

.change-email input:focus {
    background-color: #202F36;
    border: 3px solid #3F85A7;
    border-bottom: 6px solid #3F85A7;
}

.change-email input[type='text']::placeholder {
    color: rgb(219, 219, 219);
}

.change-email button {
    width: 100%;
    border: none;
    border-bottom: 5px solid #79B933;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: #93D333;
    color: #131F24;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    transition: all linear .2s;
}

.change-email button:hover, 
.change-email button:active {
    background-color: rgba(144, 236, 46, 0.624);
    border-bottom: 5px solid rgba(62, 110, 10, 0.624);
}

.alert p {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #ff4b4b;
    margin-top: 20px;
}

.updated p {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #79B933;
    margin-top: 20px;
}


/* ---------------------- CSS media queries ------------------- */

@media only screen and (max-width: 800px) {
    .change-email {
        width: 300px;
    }
    
    .change-email h1 {
        font-size: 40px;
    }
    
    .change-email input {
        font-size: 20px;
    }  

    .change-email button {
        font-size: 25px;
    }

    .updated p {
        font-size: 25px;
    }

    .alert p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 650px) {
    .change-email {
        width: 250px;
    }
    
    .change-email h1 {
        font-size: 35px;
    }
}


