* {
    font-weight: 800;
}

body {
    background-color: #131F24;
}

.content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.guess-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.counter {
    color: #1cb0f6;
}

.additional-class {
    margin-bottom: 20px;
}

.additional-class h1 {
    font-size: 40px;
}

.phrase h1 {
    color: rgb(255, 255, 255);
}

.right-answer h1 {
    color: #93D333;
}

.wrong-answer h1 {
    color: #ff4b4b;
}

.wrong-answer h3 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.guess-word form {
    width: 100%;
}

.guess-word form input {
    font-size: 30px;
    width: 99%;
    background-color: transparent;
    color: white;
    border: 3px solid #37464F;
    border-bottom: 7px solid #37464F;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: center;
    transition: all linear 0.2s;
}

.guess-word input:focus {
    background-color: #202F36;
    border: 3px solid #3F85A7;
    border-bottom: 6px solid #3F85A7;
}

.guess-word form button {
    width: 100%;
    border: none;
    border-bottom: 5px solid #79B933;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: #93D333;
    color: #131F24;
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
    transition: all linear .2s;
}

.guess-word form button:hover, 
.guess-word form button:active {
    background-color: rgba(144, 236, 46, 0.624);
    border-bottom: 5px solid rgba(62, 110, 10, 0.624);
}

.no-phrases p {
    color: #ff4b4b;
    font-size: 45px;
}

/* ---------------------- CSS media queries ------------------- */

@media only screen and (max-width: 700px) {
    .counter {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .guess-word {
        width: 300px;
    }

    .additional-class h1 {
        font-size: 20px;
        text-align: center;
    }

    .right-answer h1 {
        font-size: 20px;
    }

    .wrong-answer h1 {
        font-size: 20px;
    }

    .wrong-answer h3 {
        font-size: 20px;
    }
    
    .guess-word form input {
        font-size: 20px;
    }

    .guess-word form button {
       font-size: 20px;
    }
}

