body {
    background-color: #131F24;
}

.start-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bt-1 bt-2 bt-3"
      "bt-4 bt-5 bt-6";
    perspective: 800;
    padding: 0;
    width: 500px;
    height: 120px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.start-button .clicked {
    transform: scale(0.95);
}

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.bt-1 {
    grid-area: bt-1;
}

.bt-2 {
    grid-area: bt-2;
}

.bt-3 {
    grid-area: bt-3;
}

.bt-4 {
    grid-area: bt-4;
}

.bt-5 {
    grid-area: bt-5;
}

.bt-6 {
    grid-area: bt-6;
}

.bt-1.clicked ~ button {
    transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
    box-shadow: -2px -2px #18181888;
}

.bt-1.clicked ~ button::after {
    animation: shake 0.7s ease-in-out 0.3s;
    text-shadow: -2px -2px #18181888;
}

.bt-3.clicked ~ button {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
    box-shadow: 2px -2px #18181888;
}

.bt-3.clicked ~ button::after {
    animation: shake 0.7s ease-in-out 0.3s;
    text-shadow: 2px -2px #18181888;
}

.bt-4.clicked ~ button {
    transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
    box-shadow: -2px 2px #18181888;
}

.bt-4.clicked ~ button::after {
    animation: shake 0.7s ease-in-out 0.3s;
    text-shadow: -2px 2px #18181888;
}

.bt-6.clicked ~ button {
    transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
    box-shadow: 2px 2px #18181888;
}

.bt-6.clicked ~ button::after {
    animation: shake 0.7s ease-in-out 0.3s;
    text-shadow: 2px 2px #18181888;
}

.hover.clicked ~ button::before {
    background: transparent;
}

.hover.clicked ~ button::after {
    content: "Let's play!";
    top: -100%;
    transform: translate(-50%, 0);
    font-size: 64px;
    color: #79B933;
}

button {
    position: absolute;
    padding: 0;
    width: 500px;
    height: 120px;
    background: transparent;
    font-size: 17px;
    font-weight: 900;
    border: 3px solid #79B933;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 120px;
    background-color: #79B933;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

button::after {
    content: "Start Game";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 120px;
    background-color: transparent;
    font-size: 50px;
    font-weight: 900;
    line-height: 47px;
    color: #131F24;
    border: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

@keyframes shake {
    0% {
      left: 45%;
    }

    25% {
      left: 54%;
    }

    50% {
      left: 48%;
    }

    75% {
      left: 52%;
    }

    100% {
      left: 50%;
    }
}

/* ---------------------- CSS media queries ------------------- */

@media only screen and (max-width: 700px) {
    .start-button {
        width: 250px;  
        height: 80px;
    }

    button {
        width: 250px;
        height: 80px;
    }

    button::before {
        width: 250px;
        height: 80px;
    }

    button::after {
        width: 250px;
        font-size: 30px;
        height: 80px;
        line-height: 30px;
    }

    .hover.clicked ~ button::after {
        font-size: 40px;
    }
}
